header {
    height: 10vh;
    border-bottom: 1px solid #2196f3;
    background-color: #021937;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 30px;
    font-size: 40px;
    font-family: 'Bangers', cursive;
    color: rgb(255, 115, 0);
}

.nav {
    min-width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &__list {
        width: 50% + 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        margin-left: 10px;
    }

    &__li {
        list-style: none;
    }
    
    &__link {
        color: rgb(235, 134, 2);
        text-decoration: none;
        font-size: 20px;
        &:hover {
            color: rgb(0, 195, 255);
        }
    }
}